@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto+Slab:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto Slab', serif;
  color: #333;
  line-height: 1.6;
}
.username {
  font-weight: bold;
  color: #333;
}

.content-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  border-radius: 10px;
  margin: 2rem auto;
  margin-top: 2.5rem;
  max-width: 1300px;
}

.login{
  border-radius: 10px;
  box-shadow: 0 2px 4px #00000033;
  padding: 1.5rem;
  margin-left: 5rem;
  margin: 1rem;
  height: 450px;
  -webkit-backdrop-filter: blur(0.5rem); 
  backdrop-filter: blur(0.5rem); 
  min-width: 300px;
  max-width: 600px;
  flex: 0 0 35%; 
} 

section{
  margin-top: -15px;
}


.about .img img {
  width: 100%;
  max-width: 150px;
  margin-bottom: 1rem;
}

.about h2 {
  margin-bottom: 1rem;
}

.about p {
  margin-top: 3.5rem;
  line-height: 2;
  font-family: "Roboto Slab", serif;
  font-weight: 800px;
  font-style: 2rem;
  
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

input{
  padding: 0.5rem;
  margin-left: -1rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.7rem;
}

label{
  margin-left: -19rem;
  margin-bottom: 0.5rem;
}

#Login h2{
  margin-left: 40%;
}

input[type="text"], input[type="password"] {
  border-radius: 25px;
}

#input_email{
  margin-left: -21rem;
}


input[type="submit"] {
   margin-top: 5px;
    background-color: black;
    color: white;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 25px;
}

input[type="submit"]:hover {
    border: 2px solid rgba(143, 142, 142, 0.864);
    color: white;
}

.new-user{
  margin-left: 17%;
  margin-top: 10px;
}

.new-user a {
  margin-top:  0.5rem;
  color: #007bff;
  text-decoration: none;
}

.new-user a:hover {
  text-decoration: underline;
}

.button {
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 35px;
  align-items: center;
  border: solid black 2px;
  outline: none;
  width: 100%;
  background: transparent;
  backdrop-filter:blur(5rem) ;
  -webkit-backdrop-filter: blur(5rem);
}

.svg {
  height: 25px;
  margin-right: 10px;
  margin-left: 20%;
}

.button .text {
  z-index: 10;
  font-size: 14px;
  text-align: center;
}

.button:hover .text {
  animation: text forwards 0.3s;
}
.button:hover{
  color:white;
  background-color: black;
}
.svg {
  z-index: 6;
}
.kichan{
  text-decoration: none;
  color: black;
}

footer {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}


.messageDiv{
  background-color: rgb(10, 175, 10);
  color: white;
  padding: 10px 20px;
  margin-top:-45px;
  border-radius: 5px;
  font-size: 1rem;
  opacity: 0;
  animation: fadeOut 7s forwards;
}
